body{
 background-color:azure;
}
#glx {
    width:1060px;
    height: auto;
    border: 1px solid black;
    margin-left: 125px;
    margin-right: auto;
   background-color: white;
   

    
}
nav {
  width:1060px;
    height: auto;
   background:#000;
    margin-left: ;
    margin-right: auto;

}

nav:before{
  content:''; 
  display:block;
  height:50px;
  width:auto;
  margin-left: 134px;
  margin-right: auto; 
  background:#000;
  position:absolute;
  left:0;
  z-index:-1;
}

ul{
  margin:0;
  padding:0;
  list-style:none;
  height:50px;
    width: 1060px;
      margin-left: 50px;
  margin-right: auto; 
}

ul li{
  float:left;
}

ul li a{
  color:#fff;
  display:block;
  height:50px;
  padding:0 30px;
  text-transform:uppercase;
  text-decoration:none;
  line-height:50px;
}

ul li a:hover{
  background:#d34d43;
}
}
h1{
    font-family: Roboto;
font-style: normal;
font-weight: 300px;
font-size: 40px;
line-height: 47px;
text-align: center;

color: #000000;
    
}
main{
     display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    flex-wrap: wrap;
}
main img{
 height: auto;
    width: 300px;
}
main p{
    
   font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 34px;
/* or 142% */

width: 600px;
color: #000000; 
}
footer{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #C5C5C5;
height: 120px;
background: #404243; 
}